{% extends "layout.html" %}

{% block content %}
<div class="content-section">
 <h1>Welcome, {{current_user.username}}</h1>
 <h4>Upcoming Flights:</h4>
 <div class="container xxl">
     {% if points != None %}
        <p>Points: {{points}}</p>
     {% endif %}
  <form method="GET">
    <table class="booking_table table-striped border table-hover">
     <thead>
      <tr>
        {% for header in headings %}
        <th style="padding: 10px">{{ header }}</th>
        {% endfor %}
      </tr>
      </thead>
     <tbody>
     {% for flight in list %}
     {% for ref in refs %}
       <tr id="rows">
        <td>{{ ref }}</td>
        <td id="flyingFrom">{{ flight.flyingFrom }}</td>
        <td id="stopsAt">{{ flight.stopsAt }}</td>
        <td id="flyingTo">{{ flight.flyingTo }}</td>
        <td id="dateOfFlight">{{ flight.dateOfFlight }}</td>
        <td id="timeOfFlight">{{ flight.timeOfFlight }}</td>
        <td id="aircraft">{{ flight.aircraft }}</td>
        <td id="seat">{{ booking.seat }}</td>
        <td id="price">{{ booking.price }}</td>
        <td><button id="button" class="btn btn-secondary" type="submit" name="{{ ref }}">Cancel</button></td>
       </tr>
     {% endfor %}
     {% endfor %}
     </tbody>
    </table>
  </form>
 </div>
</div>
      <div class="row">
        <div class="col-md-4">
          <div class="content-section">
            <h3>FlightClub Balance</h3>
            <p class='text-muted'>Use your FlightClub points towards your payments!
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Balance</li>
              </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="content-section">
            <h3>Make a Payment</h3>
            <p class='text-muted'>Pay towards your balance before your next flight!
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Pay</li>
              </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="content-section">
            <h3>Invite Friends</h3>
            <p class='text-muted'>Invite your friends to fly with AirDuCoing!
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Invite</li>
              </ul>
          </div>
        </div>
      </div>

{% endblock content %}