{% extends "layout.html" %}

{% block content %}
<div class="card" style="width: auto;">
    <div class="content-section">
        <h5 class="card-title">Confirmed</h5>
        <h6 class="card-subtitle mb-2 text-muted">Payment information will be in Account</h6>
    </div>
    <div class="card-body">
        <form method="POST">
        <table class="table table-borderless">
            <tr><b>Booking Reference:</b> {{ reference }}</tr>
            <div class="border">
                <tr>
                    {% for title in titles %}
                    <td><b>{{ title }}</b></td>
                    {% endfor %}
                </tr>
                <tr id="rows">
                {% for info in flight %}
                        <td>{{ info }}</td>
                {% endfor %}
                </tr>
            </div>
        </table>
        </form>
    </div>
</div>
{% endblock content %}
