{% extends "layout.html" %}
{% block content %}
<div class="content-section">

  <table class="table border">
  <!-- headers -->
            <thead>
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
              {% for flight in flights %}
            <tr id="rows">
                <td id="flyingFrom">{{ flight.flyingFrom }}</td>
                <td id="stopsAt">{{ flight.stopsAt }}</td>
                <td id="flyingTo">{{ flight.flyingTo }}</td>
                <td id="dateOfFlight">{{ flight.dateOfFlight }}</td>
                <td id="dayOfFlight">{{ dayOfFlight }}</td>
                <td id="timeOfFlight">{{ flight.timeOfFlight }}</td>
                <td id="aircraft">{{ flight.aircraft }}</td>
                <td id="seatsLeft">{{ flight.seatsLeft }}</td>
            </tr>
            {% endfor %}
  </table>

</div>
{% endblock content %}