{% extends "layout.html" %}
<script>

    function setAction(form) {
  form.action = "confirm_booking.html";
  alert(form.action);
  return false;
}

</script>
{% block content %}
<!-- breadcrumb for purchase process -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="home">Home</a></li>
    <li class="breadcrumb-item"><a href="book">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page">Book</li>
  </ol>
</nav>
<div>
<form method="GET">
    <fieldset class="form-group">
        <table class="flight_table table-striped border table-hover">
        <!-- headers -->
            <thead>
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
              {% for flight in flights %}
            <tr id="rows">
                <td id="flyingFrom">{{ flight.flyingFrom }}</td>
                <td id="stopsAt">{{ flight.stopsAt }}</td>
                <td id="flyingTo">{{ flight.flyingTo }}</td>
                <td id="dateOfFlight">{{ flight.dateOfFlight }}</td>
                <td id="dayOfFlight">{{ dayOfFlight }}</td>
                <td id="timeOfFlight">{{ flight.timeOfFlight }}</td>
                <td id="aircraft">{{ flight.aircraft }}</td>
                <td id="seatsLeft">{{ flight.seatsLeft }}</td>
                <td><button id="button" type="submit" name="{{flight}}">Select</button></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </fieldset>
    </form>
</div>
{% endblock content %}