{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1>Join Flight Club Today!</h1>
    <h4>The first rule of Flight Club is, tell all your friends about it!</h4>
    <p>
        <b>How it works:</b><br>
        - $100 Spent = 1 FC Point<br>
        - 1 FC point = $1 Towards your flight!<br>
        <b>It's like free money, but the opposite!</b>
    </p>
    <form method="post">
        <button id="button" class="btn btn-secondary" type="submit" >Join</button>
    </form>
</div>

{% endblock %}
