{% extends "layout.html" %}

{% block content %}

<script>
  $("tbody tr").click(function () {
    $('.selected').removeClass('selected');
    $(this).addClass("selected");
    var product = $('.p',this).html();
    var infRate =$('.i',this).html();
    var note =$('.n',this).html();
    alert(product +','+ infRate+','+ note);
    });
</script>

<div id="divContainer">
<table class="formatHTML5 table">
<!-- headers -->
    <thead>
    <tr>
        {% for header in headings %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
    <tr>
        <td><label><input type="button"></label></td>
        <td>{{ flight.flyingFrom }}</td>
        <td>{{ flight.stopsAt }}</td>
        <td>{{ flight.flyingTo }}</td>
        <td>{{ flight.dateOfFlight }}</td>
        <td>{{ dayOfFlight }}</td>
        <td>{{ flight.timeOfFlight }}</td>
        <td>{{ flight.aircraft }}</td>
        <td>{{ flight.seatsLeft }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}