{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <table class="table table-hover">
    <tr>
        {% for header in headings %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>

      {% for from in flyingFrom %}
    <tr>
        {% for cell in from %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
      {% endfor %}

    {% for stop in stopsAt %}
    <tr>
        {% for cell in stop %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
      {% endfor %}

  </table>
</div>
{% endblock content %}