{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <h2>Welcome to AirDuCoing</h2>
<figure>
  <blockquote class="blockquote">
    <p>"Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return."</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Leonardo da Vinci
  </figcaption>
</figure>
  <div class="row align-items-start">
    <div class="col">
<img src="static/images/sydney-carousol.jpeg" class="rounded" width="230" height="200" alt="...">
<img src="static/images/rotorua-carousol.jpeg" class="rounded" width="230" height="200" alt="...">
<img src="static/images/greatbarrierisland_carousol.jpeg" class="rounded" width="230" height="200" alt="...">
    </div>

</div>
{% endblock content %}