{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/sydney-carousol.jpeg" width="200" height="175" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Travel to Sydney</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/rotorua-carousol.jpeg" width="200" height="175" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Travel to Rotorua</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="static/images/greatbarrierisland_carousol.jpeg" width="200" height="175" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Travel to Great Barrier Island</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}